<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/749d8882-127f-4107-aee6-24d2ae20ba23/resourcegroups/poc-feature-toggle/providers/Microsoft.ContainerRegistry/registries/pocfeaturetoggleAPI20210727235742</ContainerResourceId>
    <ContainerResourceName>pocfeaturetoggleAPI20210727235742</ContainerResourceName>
    <Subscription>ClubeCloud</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>pocfeaturetoggleapi20210727235742.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://pocfeaturetoggleapi20210727235612.scm.azurewebsites.net/</SCMUrl>
    <ApiResourceId>/subscriptions/749d8882-127f-4107-aee6-24d2ae20ba23/resourceGroups/poc-feature-toggle/providers/Microsoft.ApiManagement/service/pocfeaturetoggleAPIapi/apis/pocfeaturetoggleAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/749d8882-127f-4107-aee6-24d2ae20ba23/resourcegroups/poc-feature-toggle/providers/Microsoft.Web/sites/pocfeaturetoggleAPI20210727235612</ResourceId>
    <ResourceGroup>poc-feature-toggle</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://pocfeaturetoggleapi20210727235612.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a5de39e9-bed5-4c71-ad3f-f6530cbd84d8</ProjectGuid>
  </PropertyGroup>
</Project>